/* h2 {
    text-align: center;
} */
/* h4 {
  text-align:justify;
} */

.h4 {
  margin-left: 20px;
}
.h1 {
  text-align: center;
}
.v375_135 {
    width: 310px;
    height: 937px;
    position: absolute;
    top: 300px;
    left: 45px;
    border: 1px solid grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25); 
}