* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.v324_123 {
  width: 100%;
  height: 125px;
}
.v324_124 {
  width: 100%;
  height: 125px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(195,204,241,1);
  overflow: hidden;
}
.v324_125 {
  width: 236px;
  color: rgba(5,55,126,1);
  position: absolute;
  top: 35px;
  left: 111px;
  font-family: Vibur;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v324_129 {
  width: 125px;
  height: 43px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 1260px;
  overflow: hidden;
}
.v324_130 {
  width: 125px;
  height: 43px;
  background: rgba(47,116,197,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v324_131 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v382_1017 {
  width: 123px;
  height: 43px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 1130px;
  overflow: hidden;
}
.v382_1018 {
  width: 123px;
  height: 43px;
  background: rgba(47,116,197,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(195,204,241,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v382_1019 {
  width: 55px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 34px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}