.App {
  margin-top: -35%;
}

.corosel{
  margin-top: 35%;
  width: 81%;
  margin-left: 9%;
  margin-right: 10%;
}

.v340_45 {
  color: rgba(0,0,0,1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Antic;
  font-weight: Regular;
  font-size: 24px;
  text-align: center;
}

.browsimg{
  height: 180px;
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.rec.rec-arrow:hover {
  /* background-color: red; */
  background-color: rgba(241, 241, 243, 0.877);
  transition: all 0.3s ease 0s;
}

.divimg{
  position: relative;
}

.diver{
  position: absolute;
  padding: 16px 0 0;
  text-align: left;
}

.subhead{
  color:#333333;
  margin-top: 15vw;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.bbrowssub{
  margin-top: -20px;
  margin-left: -1vw;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6b6b6b;
}