* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v312_4 {
  width: 100%;
  height: 768px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v317_1692 {
  width: 492px;
  height: 412px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 474px;
  overflow: hidden;
}
.v317_1675 {
  width: 489px;
  height: 57px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 0px;
  overflow: hidden;
}
.v317_1676 {
  width: 489px;
  height: 57px;
  background: rgba(47,116,197,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(195,204,241,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v317_1677 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 216px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v317_1684 {
  width: 488px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 1px;
  overflow: hidden;
}
.v317_1669 {
  width: 488px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v317_1682 {
  width: 123px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 24px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v317_1694 {
  width: 418px;
  height: 69px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 40px;
  overflow: hidden;
}
.v317_1668 {
  width: 254px;
  color: rgba(5,55,126,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Vibur;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v317_1679 {
  width: 117px;
  color: rgba(5,55,126,1);
  position: absolute;
  top: 15px;
  left: 302px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v317_1685 {
  width: 488px;
  height: 59px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 1px;
  overflow: hidden;
}
.v317_1670 {
  width: 488px;
  height: 59px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v317_1683 {
  width: 86px;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 19px;
  left: 21px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v317_1693 {
  width: 489px;
  height: 58px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 354px;
  left: 1px;
  overflow: hidden;
}
.v317_1686 {
  width: 50px;
  height: 51px;
  background: url("http://localhost:3000/assets/google.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
}
.v317_1687 {
  width: 57px;
  height: 51px;
  background: url("http://localhost:3000/assets/facebook.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 220px;
  overflow: hidden;
}
.v317_1688 {
  width: 53px;
  height: 58px;
  background: url("http://localhost:3000/assets/apple.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 436px;
  overflow: hidden;
}
.v317_1690 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 297px;
  left: 278px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v317_1691 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 297px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}