* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v317_1695 {
    width: 100%;
    height: 763px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v317_1696 {
    width: 492px;
    height: 544px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 109px;
    left: 474px;
    overflow: hidden;
  }
  .v317_1697 {
    width: 489px;
    height: 57px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 377px;
    left: 3px;
    overflow: hidden;
  }
  .v317_1698 {
    width: 489px;
    height: 57px;
    background: rgba(47,116,197,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(195,204,241,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v317_1699 {
    width: 81px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 14px;
    left: 216px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v317_1700 {
    width: 488px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 159px;
    left: 3px;
    overflow: hidden;
  }
  .v317_1701 {
    width: 488px;
    height: 64px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v317_1702 {
    width: 123px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25px;
    left: 21px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v431_14 {
    width: 488px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 83px;
    left: 3px;
    overflow: hidden;
  }
  .v431_15 {
    width: 488px;
    height: 64px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* overflow: hidden; */
  }
  .v431_16 {
    width: 123px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25px;
    left: 21px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v317_1703 {
    width: 428px;
    height: 69px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 26px;
    overflow: hidden;
  }
  .v317_1704 {
    width: 254px;
    color: rgba(5,55,126,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Vibur;
    font-weight: Medium;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v317_1705 {
    width: 126px;
    color: rgba(5,55,126,1);
    position: absolute;
    top: 15px;
    left: 302px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v317_1707 {
    width: 488px;
    height: 59px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 235px;
    left: 4px;
    overflow: hidden;
  }
  .v317_1708 {
    width: 488px;
    height: 59px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v317_1709 {
    width: 86px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 19px;
    left: 21px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v317_1717 {
    width: 488px;
    height: 59px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 306px;
    left: 4px;
    overflow: hidden;
  }
  .v317_1718 {
    width: 488px;
    height: 59px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v317_1719 {
    width: 143px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v317_1710 {
    width: 489px;
    height: 58px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 486px;
    left: 3px;
    overflow: hidden;
  }
  .v317_1711 {
    width: 50px;
    height: 51px;
    background: url("http://localhost:3000/assets/google.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 0px;
    overflow: hidden;
  }
  .v317_1712 {
    width: 57px;
    height: 51px;
    background: url("http://localhost:3000/assets/facebook.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 220px;
    overflow: hidden;
  }
  .v317_1713 {
    width: 53px;
    height: 58px;
    background: url("http://localhost:3000/assets/apple.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 436px;
    overflow: hidden;
  }
  .v317_1716 {
    width: 492px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 438px;
    left: 0px;
    overflow: hidden;
  }
  .v317_1714 {
    width: 214px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 278px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v317_1715 {
    width: 155px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }