* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }

.flex {
    width: 100%;
    height: 2574px;
    background: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
}

.horizon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: -40%;
  margin-top: 12%;


}

  .v354_3 {
    width: 100%;
    height: 390px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2184px;
    left: 0px;
    overflow: hidden;
  }
  .v354_4 {
    width: 100%;
    height: 390px;
    background: rgba(47,116,197,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v354_5 {
    width: 430px;
    height: 98px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 230px;
    left: 62px;
    overflow: hidden;
  }
  .v354_6 {
    width: 121px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v354_7 {
    width: 286px;
    height: 57px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 41px;
    left: 0px;
    overflow: hidden;
  }
  .v354_8 {
    width: 286px;
    height: 57px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_9 {
    width: 123px;
    color: rgba(128,128,128,1);
    position: absolute;
    top: 19px;
    left: 17px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v354_10 {
    width: 138px;
    height: 57px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 41px;
    left: 292px;
    overflow: hidden;
  }
  .v354_11 {
    width: 138px;
    height: 57px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgba(195,204,241,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_12 {
    width: 95px;
    color: rgba(5,55,126,1);
    position: absolute;
    top: 16px;
    left: 22px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v354_13 {
    width: 359px;
    height: 61px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 38px;
    left: 62px;
    overflow: hidden;
  }
  .v354_14 {
    width: 236px;
    color: rgba(5,55,126,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Vibur;
    font-weight: Medium;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v354_16 {
    width: 375px;
    height: 231px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 81px;
    left: 995px;
    overflow: hidden;
  }
  .v354_17 {
    width: 172px;
    height: 231px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v354_18 {
    width: 95px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 31px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v354_19 {
    width: 52px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 41px;
    left: 52px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v354_20 {
    width: 32px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 82px;
    left: 62px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v354_21 {
    width: 44px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 123px;
    left: 56px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v354_22 {
    width: 172px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 205px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v354_23 {
    width: 62px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 164px;
    left: 47px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v354_24 {
    width: 151px;
    height: 190px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 224px;
    overflow: hidden;
  }
  .v354_25 {
    width: 69px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 43px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v354_26 {
    width: 79px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 41px;
    left: 36px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v354_27 {
    width: 113px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 82px;
    left: 19px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v354_28 {
    width: 91px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 123px;
    left: 30px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v354_29 {
    width: 151px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 164px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v354_30 {
    width: 60%;
    height: 129px;
    position: absolute;
    top: 2055px;
    margin-left: 35%;
  }

  .v354_31 {
    width: 100%;
    height: 129px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }

  .v369_118 {
    width: 15px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }

  .v369_120 {
    width: 9px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 67px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v369_121 {
    width: 1px;
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 105px;
    border: 3px solid rgba(0,0,0,1);
  }
  .v354_151 {
    width: 100%;
    height: 47px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 208px;
    left: 208px;
    overflow: hidden;
  }
  .v354_125 {
    width: 274px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 618px;
    overflow: hidden;
  }
  .v354_126 {
    width: 274px;
    height: 45px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_127 {
    width: 179px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 11px;
    left: 52px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v354_128 {
    width: 35px;
    height: 26px;
    /* background: url("../images/v354_128.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 18px;
    overflow: hidden;
  }
  .v354_129 {
    width: 274px;
    height: 47px;
    /* background: url("../images/v354_129.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 344px;
    overflow: hidden;
  }
  .v354_130 {
    width: 274px;
    height: 45px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_131 {
    width: 67px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 5px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v354_132 {
    width: 52px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 155px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v354_133 {
    width: 69px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 20px;
    left: 35px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v354_134 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 21px;
    left: 173px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v354_135 {
    width: 344px;
    height: 45px;
    /* background: url("../images/v354_135.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
    overflow: hidden;
  }
  .v354_136 {
    width: 344px;
    height: 45px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_137 {
    width: 162px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 10px;
    left: 16px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v354_138 {
    width: 148px;
    height: 45px;
    /* background: url("../images/v354_138.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 892px;
    overflow: hidden;
  }
  .v354_139 {
    width: 148px;
    height: 45px;
    /* background: url("../images/v354_139.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v354_140 {
    width: 148px;
    height: 45px;
    background: rgba(47,116,197,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_141 {
    width: 59px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 13px;
    left: 49px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v354_142 {
    width: 100%;
    height: 125px;
    /* background: url("../images/v354_142.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v354_143 {
    width: 100%;
    height: 125px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(195,204,241,1);
    overflow: hidden;
  }
  .v354_144 {
    width: 236px;
    color: rgba(5,55,126,1);
    position: absolute;
    top: 35px;
    left: 111px;
    font-family: Vibur;
    font-weight: Medium;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v354_145 {
    width: 123px;
    height: 43px;
    /* background: url("../images/v354_145.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 49px;
    left: 1133px;
    overflow: hidden;
  }
  .v354_146 {
    width: 123px;
    height: 43px;
    background: rgba(47,116,197,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(195,204,241,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_147 {
    width: 55px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 12px;
    left: 34px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v354_148 {
    width: 125px;
    height: 43px;
    /* background: url("../images/v354_148.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 49px;
    left: 1260px;
    overflow: hidden;
  }
  .v354_149 {
    width: 125px;
    height: 43px;
    background: rgba(47,116,197,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_150 {
    width: 60px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 11px;
    left: 32px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v354_220 {
    width: 310px;
    height: 321px;
    opacity: 1;
    position: absolute;
    top: 378px;
    left: 47px;
    overflow: hidden;
  }
  .v354_152 {
    width: 310px;
    height: 321px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(128,128,128,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_153 {
    width: 147px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 19px;
    left: 82px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v354_154 {
    width: 102px;
    height: 43px;
    /* background: url("../images/v354_154.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 64px;
    left: 15px;
    overflow: hidden;
  }
  .v354_155 {
    width: 102px;
    height: 43px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(128,128,128,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_156 {
    width: 58px;
    color: rgba(128,128,128,1);
    position: absolute;
    top: 9px;
    left: 22px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v354_157 {
    width: 159px;
    height: 43px;
    /* background: url("../images/v354_157.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 64px;
    left: 123px;
    overflow: hidden;
  }
  .v354_158 {
    width: 159px;
    height: 43px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(128,128,128,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_159 {
    width: 126px;
    color: rgba(128,128,128,1);
    position: absolute;
    top: 9px;
    left: 19px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v354_160 {
    width: 80px;
    height: 43px;
    /* background: url("../images/v354_160.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 126px;
    left: 15px;
    overflow: hidden;
  }
  .v354_161 {
    width: 80px;
    height: 43px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(128,128,128,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_162 {
    width: 47px;
    color: rgba(128,128,128,1);
    position: absolute;
    top: 8px;
    left: 17px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v354_163 {
    width: 95px;
    height: 43px;
    /* background: url("../images/v354_163.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 126px;
    left: 101px;
    overflow: hidden;
  }
  .v354_164 {
    width: 95px;
    height: 43px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(128,128,128,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_165 {
    width: 68px;
    color: rgba(128,128,128,1);
    position: absolute;
    top: 9px;
    left: 13px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v354_169 {
    width: 79px;
    height: 47px;
    /* background: url("../images/v354_169.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 124px;
    left: 202px;
    overflow: hidden;
  }
  .v354_170 {
    width: 79px;
    height: 47px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(128,128,128,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_171 {
    width: 52px;
    color: rgba(128,128,128,1);
    position: absolute;
    top: 11px;
    left: 13px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v354_193 {
    width: 140px;
    height: 47px;
    /* background: url("../images/v354_193.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 188px;
    left: 15px;
    overflow: hidden;
  }
  .v354_194 {
    width: 140px;
    height: 47px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(128,128,128,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_195 {
    width: 123px;
    color: rgba(128,128,128,1);
    position: absolute;
    top: 11px;
    left: 10px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v354_196 {
    width: 88px;
    height: 47px;
    /* background: url("../images/v354_196.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 188px;
    left: 161px;
    overflow: hidden;
  }
  .v354_197 {
    width: 88px;
    height: 47px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(128,128,128,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_198 {
    width: 60px;
    color: rgba(128,128,128,1);
    position: absolute;
    top: 11px;
    left: 14px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v354_217 {
    width: 140px;
    height: 47px;
    /* background: url("../images/v354_217.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 246px;
    left: 15px;
    overflow: hidden;
  }
  .v354_218 {
    width: 140px;
    height: 47px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(128,128,128,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v354_219 {
    width: 124px;
    color: rgba(128,128,128,1);
    position: absolute;
    top: 11px;
    left: 8px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .name {
    color: #fff;
  }
  .v369_117 {
    width: 989px;
    height: 321px;
    /* background: url("../images/v369_117.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 378px;
    left: 386px;
    overflow: hidden;
  }
  .v369_17 {
    width: 989px;
    height: 321px;
    /* background: url("../images/v369_17.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v369_18 {
    width: 989px;
    height: 321px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(128,128,128,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v369_19 {
    width: 951px;
    height: 258px;
    /* background: url("../images/v369_19.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 20px;
    overflow: hidden;
  }
  .v369_20 {
    width: 368px;
    height: 257px;
    /* background: url("../images/v369_20.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v369_21 {
    width: 564px;
    height: 258px;
    /* background: url("../images/v369_21.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 387px;
    overflow: hidden;
  }
  .v369_22 {
    width: 551px;
    height: 171px;
    /* background: url("../images/v369_22.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
    overflow: hidden;
  }
  .v369_23 {
    width: 551px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 83px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v369_24 {
    width: 535px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v369_25 {
    width: 166px;
    height: 56px;
    /* background: url("../images/v369_25.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 0px;
    overflow: hidden;
  }
  .v369_26 {
    width: 164px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 24px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v369_27 {
    width: 166px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v369_28 {
    width: 229px;
    height: 64px;
    /* background: url("../images/v369_28.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 194px;
    left: 335px;
    overflow: hidden;
  }
  .v369_29 {
    width: 229px;
    height: 64px;
    background: rgba(47,116,197,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v369_30 {
    width: 162px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 16px;
    left: 33px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v369_31 {
    width: 1px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 32px;
    left: 208px;
    border: 3px solid rgba(255,255,255,1);
  }
  .v369_32 {
    width: 42px;
    height: 53px;
    /* background: url("../images/v369_32.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 522px;
    overflow: hidden;
  }
  .v369_33 {
    width: 42px;
    height: 32px;
    /* background: url("../images/v369_33.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v369_34 {
    width: 15px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v369_35 {
    width: 24px;
    height: 21px;
    /* background: url("../images/v369_35.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 18px;
    overflow: hidden;
  }
  .v369_36 {
    width: 22px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 21px;
    left: 19px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v442_62 {
    width: 989px;
    height: 321px;
    /* background: url("../images/v442_62.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 717px;
    left: 386px;
    overflow: hidden;
  }
  .v442_63 {
    width: 989px;
    height: 321px;
    /* background: url("../images/v442_63.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v442_64 {
    width: 989px;
    height: 321px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(128,128,128,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v442_65 {
    width: 951px;
    height: 258px;
    /* background: url("../images/v442_65.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 20px;
    overflow: hidden;
  }
  .v442_66 {
    width: 368px;
    height: 257px;
    /* background: url("../images/v442_66.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v442_67 {
    width: 564px;
    height: 258px;
    /* background: url("../images/v442_67.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 387px;
    overflow: hidden;
  }
  .v442_68 {
    width: 551px;
    height: 171px;
    /* background: url("../images/v442_68.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
    overflow: hidden;
  }
  .v442_69 {
    width: 551px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 83px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v442_70 {
    width: 535px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v442_71 {
    width: 166px;
    height: 56px;
    /* background: url("../images/v442_71.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 0px;
    overflow: hidden;
  }
  .v442_72 {
    width: 164px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 24px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v442_73 {
    width: 166px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v442_74 {
    width: 229px;
    height: 64px;
    /* background: url("../images/v442_74.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 194px;
    left: 335px;
    overflow: hidden;
  }
  .v442_75 {
    width: 229px;
    height: 64px;
    background: rgba(47,116,197,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v442_76 {
    width: 162px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 16px;
    left: 33px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v442_77 {
    width: 1px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 32px;
    left: 208px;
    border: 3px solid rgba(255,255,255,1);
  }
  .v442_78 {
    width: 42px;
    height: 53px;
    /* background: url("../images/v442_78.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 522px;
    overflow: hidden;
  }
  .v442_79 {
    width: 42px;
    height: 32px;
    /* background: url("../images/v442_79.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v442_80 {
    width: 15px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v442_81 {
    width: 24px;
    height: 21px;
    /* background: url("../images/v442_81.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 18px;
    overflow: hidden;
  }
  .v442_82 {
    width: 22px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 21px;
    left: 19px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v442_83 {
    width: 989px;
    height: 321px;
    /* background: url("../images/v442_83.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1056px;
    left: 386px;
    overflow: hidden;
  }
  .v442_84 {
    width: 989px;
    height: 321px;
    /* background: url("../images/v442_84.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v442_85 {
    width: 989px;
    height: 321px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(128,128,128,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v442_86 {
    width: 951px;
    height: 258px;
    /* background: url("../images/v442_86.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 20px;
    overflow: hidden;
  }
  .v442_87 {
    width: 368px;
    height: 257px;
    /* background: url("../images/v442_87.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v442_88 {
    width: 564px;
    height: 258px;
    /* background: url("../images/v442_88.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 387px;
    overflow: hidden;
  }
  .v442_89 {
    width: 551px;
    height: 171px;
    /* background: url("../images/v442_89.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
    overflow: hidden;
  }
  .v442_90 {
    width: 551px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 83px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v442_91 {
    width: 535px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v442_92 {
    width: 166px;
    height: 56px;
    /* background: url("../images/v442_92.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 0px;
    overflow: hidden;
  }
  .v442_93 {
    width: 164px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 24px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v442_94 {
    width: 166px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v442_95 {
    width: 229px;
    height: 64px;
    /* background: url("../images/v442_95.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 194px;
    left: 335px;
    overflow: hidden;
  }
  .v442_96 {
    width: 229px;
    height: 64px;
    background: rgba(47,116,197,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v442_97 {
    width: 162px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 16px;
    left: 33px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v442_98 {
    width: 1px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 32px;
    left: 208px;
    border: 3px solid rgba(255,255,255,1);
  }
  .v442_99 {
    width: 42px;
    height: 53px;
    /* background: url("../images/v442_99.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 522px;
    overflow: hidden;
  }
  .v442_100 {
    width: 42px;
    height: 32px;
    /* background: url("../images/v442_100.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v442_101 {
    width: 15px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v442_102 {
    width: 24px;
    height: 21px;
    /* background: url("../images/v442_102.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 18px;
    overflow: hidden;
  }
  .v442_103 {
    width: 22px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 21px;
    left: 19px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v442_104 {
    width: 989px;
    height: 321px;
    /* background: url("../images/v442_104.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1395px;
    left: 386px;
    overflow: hidden;
  }
  .v442_105 {
    width: 989px;
    height: 321px;
    /* background: url("../images/v442_105.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v442_106 {
    width: 989px;
    height: 321px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(128,128,128,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v442_107 {
    width: 951px;
    height: 258px;
    /* background: url("../images/v442_107.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 20px;
    overflow: hidden;
  }
  .v442_108 {
    width: 368px;
    height: 257px;
    /* background: url("../images/v442_108.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v442_109 {
    width: 564px;
    height: 258px;
    /* background: url("../images/v442_109.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 387px;
    overflow: hidden;
  }
  .v442_110 {
    width: 551px;
    height: 171px;
    /* background: url("../images/v442_110.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
    overflow: hidden;
  }
  .v442_111 {
    width: 551px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 83px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v442_112 {
    width: 535px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v442_113 {
    width: 166px;
    height: 56px;
    /* background: url("../images/v442_113.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 0px;
    overflow: hidden;
  }
  .v442_114 {
    width: 164px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 24px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v442_115 {
    width: 166px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v442_116 {
    width: 229px;
    height: 64px;
    /* background: url("../images/v442_116.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 194px;
    left: 335px;
    overflow: hidden;
  }
  .v442_117 {
    width: 229px;
    height: 64px;
    background: rgba(47,116,197,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v442_118 {
    width: 162px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 16px;
    left: 33px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v442_119 {
    width: 1px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 32px;
    left: 208px;
    border: 3px solid rgba(255,255,255,1);
  }
  .v442_120 {
    width: 42px;
    height: 53px;
    /* background: url("../images/v442_120.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 522px;
    overflow: hidden;
  }
  .v442_121 {
    width: 42px;
    height: 32px;
    /* background: url("../images/v442_121.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v442_122 {
    width: 15px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v442_123 {
    width: 24px;
    height: 21px;
    /* background: url("../images/v442_123.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 18px;
    overflow: hidden;
  }
  .v442_124 {
    width: 22px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 21px;
    left: 19px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v442_125 {
    width: 989px;
    height: 321px;
    /* background: url("../images/v442_125.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1734px;
    left: 386px;
    overflow: hidden;
  }
  .v442_126 {
    width: 989px;
    height: 321px;
    /* background: url("../images/v442_126.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v442_127 {
    width: 989px;
    height: 321px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(128,128,128,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v442_128 {
    width: 951px;
    height: 258px;
    /* background: url("../images/v442_128.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 20px;
    overflow: hidden;
  }
  .v442_129 {
    width: 368px;
    height: 257px;
    /* background: url("../images/v442_129.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v442_130 {
    width: 564px;
    height: 258px;
    /* background: url("../images/v442_130.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 387px;
    overflow: hidden;
  }
  .v442_131 {
    width: 551px;
    height: 171px;
    /* background: url("../images/v442_131.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
    overflow: hidden;
  }
  .v442_132 {
    width: 551px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 83px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v442_133 {
    width: 535px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v442_134 {
    width: 166px;
    height: 56px;
    /* background: url("../images/v442_134.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 0px;
    overflow: hidden;
  }
  .v442_135 {
    width: 164px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 24px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v442_136 {
    width: 166px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v442_137 {
    width: 229px;
    height: 64px;
    /* background: url("../images/v442_137.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 194px;
    left: 335px;
    overflow: hidden;
  }
  .v442_138 {
    width: 229px;
    height: 64px;
    background: rgba(47,116,197,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v442_139 {
    width: 162px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 16px;
    left: 33px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v442_140 {
    width: 1px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 32px;
    left: 208px;
    border: 3px solid rgba(255,255,255,1);
  }
  .v442_141 {
    width: 42px;
    height: 53px;
    /* background: url("../images/v442_141.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 522px;
    overflow: hidden;
  }
  .v442_142 {
    width: 42px;
    height: 32px;
    /* background: url("../images/v442_142.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v442_143 {
    width: 15px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v442_144 {
    width: 24px;
    height: 21px;
    /* background: url("../images/v442_144.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 18px;
    overflow: hidden;
  }
  .v442_145 {
    width: 22px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 21px;
    left: 19px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v375_135 {
    width: 310px;
    height: 937px;
    /* background: url("../images/v375_135.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 717px;
    left: 47px;
    overflow: hidden;
  }
  .v375_136 {
    width: 310px;
    height: 937px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(128,128,128,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v375_137 {
    width: 281px;
    height: 897px;
    /* background: url("../images/v375_137.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 13px;
    overflow: hidden;
  }
  .v375_138 {
    width: 219px;
    height: 80px;
    /* background: url("../images/v375_138.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 436px;
    left: 0px;
    overflow: hidden;
  }
  .v375_139 {
    width: 73px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_140 {
    width: 203px;
    height: 27px;
    /* background: url("../images/v375_140.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 53px;
    left: 16px;
    overflow: hidden;
  }
  .v375_141 {
    width: 27px;
    height: 27px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v375_142 {
    width: 166px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 37px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_143 {
    width: 191px;
    height: 73px;
    /* background: url("../images/v375_143.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 824px;
    left: 0px;
    overflow: hidden;
  }
  .v375_144 {
    width: 133px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_145 {
    width: 175px;
    height: 27px;
    /* background: url("../images/v375_145.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 45px;
    left: 16px;
    overflow: hidden;
  }
  .v375_146 {
    width: 27px;
    height: 27px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v375_147 {
    width: 138px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 37px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_148 {
    width: 117px;
    height: 210px;
    /* background: url("../images/v375_148.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 198px;
    left: 0px;
    overflow: hidden;
  }
  .v375_149 {
    width: 63px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_150 {
    width: 97px;
    height: 169px;
    /* background: url("../images/v375_150.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 20px;
    overflow: hidden;
  }
  .v375_151 {
    width: 97px;
    height: 27px;
    /* background: url("../images/v375_151.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v375_152 {
    width: 27px;
    height: 27px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v375_153 {
    width: 50px;
    height: 26px;
    /* background: url("../images/v375_153.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 47px;
    overflow: hidden;
  }
  .v375_154 {
    width: 14px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_155 {
    width: 24px;
    height: 21px;
    /* background: url("../images/v375_155.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 26px;
    overflow: hidden;
  }
  .v375_156 {
    width: 97px;
    height: 27px;
    /* background: url("../images/v375_156.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 47px;
    left: 0px;
    overflow: hidden;
  }
  .v375_157 {
    width: 27px;
    height: 27px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v375_158 {
    width: 50px;
    height: 26px;
    /* background: url("../images/v375_158.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 47px;
    overflow: hidden;
  }
  .v375_159 {
    width: 14px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_160 {
    width: 24px;
    height: 21px;
    /* background: url("../images/v375_160.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 26px;
    overflow: hidden;
  }
  .v375_161 {
    width: 97px;
    height: 27px;
    /* background: url("../images/v375_161.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 95px;
    left: 0px;
    overflow: hidden;
  }
  .v375_162 {
    width: 27px;
    height: 27px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v375_163 {
    width: 51px;
    height: 26px;
    /* background: url("../images/v375_163.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 46px;
    overflow: hidden;
  }
  .v375_164 {
    width: 15px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_165 {
    width: 24px;
    height: 21px;
    /* background: url("../images/v375_165.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 27px;
    overflow: hidden;
  }
  .v375_166 {
    width: 97px;
    height: 27px;
    /* background: url("../images/v375_166.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 141px;
    left: 0px;
    overflow: hidden;
  }
  .v375_167 {
    width: 27px;
    height: 27px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v375_168 {
    width: 49px;
    height: 26px;
    /* background: url("../images/v375_168.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 48px;
    overflow: hidden;
  }
  .v375_169 {
    width: 12px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_170 {
    width: 24px;
    height: 21px;
    /* background: url("../images/v375_170.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 25px;
    overflow: hidden;
  }
  .v375_171 {
    width: 48px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 112px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_172 {
    width: 281px;
    height: 243px;
    /* background: url("../images/v375_172.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 548px;
    left: 0px;
    overflow: hidden;
  }
  .v375_173 {
    width: 95px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_174 {
    width: 265px;
    height: 190px;
    /* background: url("../images/v375_174.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 53px;
    left: 16px;
    overflow: hidden;
  }
  .v375_175 {
    width: 104px;
    height: 27px;
    /* background: url("../images/v375_175.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v375_176 {
    width: 69px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 35px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_177 {
    width: 27px;
    height: 27px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v375_178 {
    width: 77px;
    height: 27px;
    /* background: url("../images/v375_178.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    overflow: hidden;
  }
  .v375_179 {
    width: 42px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 35px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_180 {
    width: 27px;
    height: 27px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v375_181 {
    width: 94px;
    height: 27px;
    /* background: url("../images/v375_181.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 81px;
    left: 0px;
    overflow: hidden;
  }
  .v375_182 {
    width: 59px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 1px;
    left: 35px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_183 {
    width: 27px;
    height: 27px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v375_184 {
    width: 265px;
    height: 27px;
    /* background: url("../images/v375_184.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 122px;
    left: 0px;
    overflow: hidden;
  }
  .v375_185 {
    width: 230px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 35px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_186 {
    width: 27px;
    height: 27px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v375_187 {
    width: 117px;
    height: 27px;
    /* background: url("../images/v375_187.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 163px;
    left: 0px;
    overflow: hidden;
  }
  .v375_188 {
    width: 82px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 35px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_189 {
    width: 27px;
    height: 27px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v375_190 {
    width: 244px;
    height: 106px;
    /* background: url("../images/v375_190.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 0px;
    overflow: hidden;
  }
  .v375_191 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_192 {
    width: 224px;
    height: 51px;
    /* background: url("../images/v375_192.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 20px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v375_194 {
    width: 16px;
    height: 16px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 103px;
    border-radius: 50%;
  }
  .v375_195 {
    width: 57px;
    height: 51px;
    /* background: url("../images/v375_195.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v375_196 {
    width: 16px;
    height: 16px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 23px;
    border-radius: 50%;
  }
  .v375_197 {
    width: 57px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v375_198 {
    width: 66px;
    height: 51px;
    /* background: url("../images/v375_198.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 158px;
    overflow: hidden;
  }
  .v375_199 {
    width: 16px;
    height: 16px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 25px;
    border-radius: 50%;
  }
  .v375_200 {
    width: 66px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  