.details {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.title {
    width: 1000px;
    color: rgba(0,0,0,1);
    font-family: Antic;
    font-weight: Regular;
    font-size: 36px;
    text-align: left;
    padding-left: 8%;
  }

.reimg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

.images {
    width: 1020px;
    height: 260px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-left: 5.5%;
}

.images > img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.images > div {
    display: flex;
    flex-direction: column;
    justify-content:space-between;

}
.images > div > img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.register {
    width: 25%;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.register > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.register > h2 {
    height: 32px;
    background: rgba(47,116,197,1);
    text-align: center;
    color: white;
}
.button {
    width: 229px;
    height: 32px;
    background: rgba(47,116,197,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 17.5%;
  }

.overview {
    padding-left: 6%;
    width: 1020px;
    line-height: 30px;

}
.description {
    padding-left: 7%;
    width: 1020px;
    margin-bottom: 2%;
}

.policy {
    width: 25%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
}

.viewmore {
    width:100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-height: 30px;
    color: grey;
}
  /* h2 {
    height: 32px;
    background: rgba(47,116,197,1);
    text-align: center;
    color: white;
  } */