* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.home {
  width: 100%;
  height: 390px;
  position:relative;
  /* top: 1575px; */

}

.searchpage {
  width: 100%;
  height: 390px;
  position:absolute;
  top: 2200px;
}

.v331_4 {
  width: 100%;
  height: 390px;
  background: rgba(47,116,197,1);
  opacity: 1;
  position:absolute;
  top: 0px;
  left: 0px;
}
.v331_5 {
  width: 430px;
  height: 98px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 62px;
  overflow: hidden;
}
.v331_6 {
  width: 140px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Antic;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v331_7 {
  width: 286px;
  height: 57px;
  position: absolute;
  top: 41px;
  left: 0px;
  overflow: hidden;
}
.v331_8 {
  width: 286px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.v331_10 {
  width: 138px;
  height: 57px;
  position: inherit;
  top: 41px;
  left: 292px;
  overflow: visible;
  background: rgba(255,255,255,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
.v331_11 {
  width: 138px;
  height: 57px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;

}

.v331_13 {
  width: 359px;
  height: 61px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 62px;
  /* overflow: hidden; */
}
.v331_14 {
  width: 236px;
  color: rgba(5,55,126,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Vibur;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
  margin-top: 1%;
  width: 429px;
}
.v331_16 {
  width: 375px;
  height: 231px;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 995px;
  display: flex;
  flex-direction: row;
}
/* .v331_17 {
  width: 172px;
  height: 231px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
} */

.v331_17 {
  width: 172px;
  height: 231px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
}
.v331_17>h2 {
  color: #fff;
  font-size: 24px;
}

.v331_17>span {
  color: #fff;
  font-size: 14px;
}

.v331_24 {
  width: 172px;
  height: 200px;
  left: 224px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.v331_24>h2 {
  color: #fff;
  font-size: 24px;
}

.v331_24>span {
  color: #fff;
  font-size: 14px;
}


.v331_18 {
  width: 95px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 31px;
  font-family: Antic;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v331_19 {
  width: 52px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 41px;
  left: 52px;
  font-family: Antic;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v331_20 {
  width: 32px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 82px;
  left: 62px;
  font-family: Antic;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v331_21 {
  width: 44px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 123px;
  left: 56px;
  font-family: Antic;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v331_22 {
  width: 172px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 205px;
  left: 0px;
  font-family: Antic;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v331_23 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 164px;
  left: 47px;
  font-family: Antic;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
