* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.v334_17 {
  width: 568px;
  height: 300px;
  position: relative;
  margin-left: 29%;
  padding-bottom: 10%;
}

.searchpage {
  width: 568px;
  height: 227px;
  position: absolute;
  top: 1200px;
  left: 47px;
}

.v334_18 {
  width: 147px;
  color: rgba(0,0,0,1);
  position: absolute;
  left: 211px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Antic;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
} 


.v334_19 {
  width: 100%;
  height: 43px;
  position: relative;
  top: 71px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.v334_19 > span{
  width: 120px;
  height: 60px;
  font-size: 24px;
  font-family: Antic;
  font-weight: Regular;
  opacity: 1;
  text-align: center;

  border: 1px solid rgba(128,128,128,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2px;
}