.v347_103 {
  width: 100%;
  height: 748px;
  position: relative;
  margin-left: -1.5%; 
}
.v340_47 {
  width: 100%;
  height: 748px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v347_102 {
  width: 894px;
  height: 646px;
  background: url("http://localhost:3000/assets/v347_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 273px;
  overflow: hidden;
}
.v340_51 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 351px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Antic;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v347_95 {
  width: 439px;
  height: 283px;
  background: url("http://localhost:3000/assets/v347_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 0px;
  overflow: hidden;
}
.v340_52 {
  width: 439px;
  height: 283px;
  background: url("http://localhost:3000/assets/v340_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v347_94 {
  width: 286px;
  height: 77px;
  background: url("http://localhost:3000/assets/v347_94.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 193px;
  left: 15px;
  overflow: hidden;
}
.v340_62 {
  width: 93px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Antic;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v340_65 {
  width: 41px;
  height: 25px;
  background: url("http://localhost:3000/assets/v340_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 102px;
  overflow: hidden;
}
.v344_69 {
  width: 286px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 51px;
  left: 0px;
  font-family: Antic;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v347_97 {
  width: 439px;
  height: 283px;
  background: url("http://localhost:3000/assets/v347_97.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 455px;
  overflow: hidden;
}
.v340_53 {
  width: 439px;
  height: 283px;
  background: url("http://localhost:3000/assets/v340_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v347_96 {
  width: 427px;
  height: 77px;
  background: url("http://localhost:3000/assets/v347_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 193px;
  left: 12px;
  overflow: hidden;
}
.v346_70 {
  width: 70px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Antic;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v346_74 {
  width: 41px;
  height: 25px;
  background: url("http://localhost:3000/assets/v346_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 80px;
  overflow: hidden;
}
.v346_77 {
  width: 427px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 51px;
  left: 0px;
  font-family: Antic;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v347_99 {
  width: 439px;
  height: 283px;
  background: url("http://localhost:3000/assets/v347_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 363px;
  left: 0px;
  overflow: hidden;
}
.v340_54 {
  width: 439px;
  height: 283px;
  background: url("http://localhost:3000/assets/v340_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v347_98 {
  width: 422px;
  height: 61px;
  background: url("http://localhost:3000/assets/v347_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 203px;
  left: 15px;
  overflow: hidden;
}
.v346_83 {
  width: 155px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Antic;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v346_84 {
  width: 422px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Antic;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v346_89 {
  width: 41px;
  height: 25px;
  background: url("http://localhost:3000/assets/v346_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 163px;
  overflow: hidden;
}
.v347_101 {
  width: 439px;
  height: 283px;
  background: url("http://localhost:3000/assets/v347_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 363px;
  left: 455px;
  overflow: hidden;
}
.v340_55 {
  width: 439px;
  height: 283px;
  background: url("http://localhost:3000/assets/hanoi.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v347_100 {
  width: 378px;
  height: 61px;
  background: url("http://localhost:3000/assets/v347_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 203px;
  left: 8px;
  overflow: hidden;
}
.v347_90 {
  width: 92px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Antic;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v347_92 {
  width: 41px;
  height: 25px;
  background: url("http://localhost:3000/assets/vietnam.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 104px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v347_93 {
  width: 378px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Antic;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v340_31 {
  width: 100%;
  height: 396px;
  background: url("http://localhost:3000/assets/v340_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2540px;
  left: 0px;
  overflow: hidden;
}
.v340_32 {
  width: 100%;
  height: 396px;
  background: url("http://localhost:3000/assets/v340_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v340_33 {
  width: 379px;
  height: 252px;
  background: url("http://localhost:3000/assets/v340_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 47px;
  overflow: hidden;
}
.v340_34 {
  width: 379px;
  height: 252px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v340_35 {
  width: 315px;
  height: 147px;
  background: url("http://localhost:3000/assets/v340_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 24px;
  overflow: hidden;
}
.v340_36 {
  width: 230px;
  color: rgba(5,55,126,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_37 {
  width: 315px;
  color: rgba(45,48,52,1);
  position: absolute;
  top: 51px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v340_38 {
  width: 379px;
  height: 252px;
  background: url("http://localhost:3000/assets/v340_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 1010px;
  overflow: hidden;
}
.v340_39 {
  width: 379px;
  height: 252px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v340_40 {
  width: 315px;
  height: 99px;
  background: url("http://localhost:3000/assets/v340_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 24px;
  overflow: hidden;
}
.v340_41 {
  width: 263px;
  color: rgba(5,55,126,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_42 {
  width: 315px;
  color: rgba(45,48,52,1);
  position: absolute;
  top: 51px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v334_250 {
  width: 100%;
  height: 396px;
  background: url("http://localhost:3000/assets/v334_250.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1396px;
  left: 0px;
  overflow: hidden;
}
.v324_320 {
  width: 100%;
  height: 393px;
  background: url("http://localhost:3000/assets/v324_320.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1003px;
  left: 0px;
  overflow: hidden;
}
.v324_321 {
  width: 100%;
  height: 393px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}

.v340_45 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 681px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Antic;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}