.v324_194 {
  width: 100%;
  height: 487px;
  background: url("http://localhost:3000/assets/v324_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}