* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.v340_31 {
  width: 100%;
  height: 396px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.v340_32 {
  width: 100%;
  height: 396px;
  background: url("http://localhost:3000/assets/v430_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v340_33 {
  width: 379px;
  height: 252px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 47px;
  overflow: hidden;
}
.v340_34 {
  width: 379px;
  height: 252px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  filter: blur(200px);
}
.v340_35 {
  width: 315px;
  height: 147px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 24px;
  overflow: hidden;
}
.v340_36 {
  width: 230px;
  color: rgba(5,55,126,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_37 {
  width: 315px;
  color: rgba(45,48,52,1);
  position: absolute;
  top: 51px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v340_38 {
  width: 379px;
  height: 252px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 1010px;
  overflow: hidden;
}
.v340_39 {
  width: 379px;
  height: 252px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  filter: blur(200px);

}
.v340_40 {
  width: 315px;
  height: 99px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 24px;
  overflow: hidden;
}
.v340_41 {
  width: 263px;
  color: rgba(5,55,126,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v340_42 {
  width: 315px;
  color: rgba(45,48,52,1);
  position: absolute;
  top: 51px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}








  