* {
    box-sizing: border-box;
  }

.search {
    display:flex;
    flex-direction: column;
}

.home{
  width: 100%;
  height: 150px;
  position: relative;
  padding-left: 14%;
  display:flex;
  flex-direction: row;
}

.searchpage {
  width: 80%;
  height: 150px;
  position: absolute;
  top: 20%;
  left: 15%;
  display:flex;
  flex-direction: row;
}
  .v324_320 {
    width: 100%;
    height: 393px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1003px;
    left: 0px;
    overflow: hidden;
  }

  .filter{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid grey;
  }

  .filter > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .v324_321 {
    width: 100%;
    height: 393px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(255,255,255,1);
    overflow: hidden;
  }
  .v324_341 {
    width: 100%;
    height: 258px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 85px;
    left: 163px;
    overflow: hidden;
  }
  .v324_322 {
    width: 100%;
    height: 258px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v324_323 {
    width: 344px;
    height: 258px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v324_324 {
    width: 344px;
    height: 225px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v324_325 {
    width: 69px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 232px;
    left: 0px;
    font-family: Antic;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }

  .v324_196 {
    width: 299px;
    height: 56px;
    background: rgba(255,255,255,1);
    border: 1px solid	rgb(208,208,208);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

.v324_196 > div > span {
  color: rgba(0,0,0,1);
  font-family: Antic;
  font-weight: Regular;
  font-size: 16px;
  text-align: center;
  line-height: 1.8;
}

.v324_196 > div {
  padding: 10px 10px 10px 22px;
}


  .v324_206 {
    width: 344px;
    height: 57px;
    background: rgba(255,255,255,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }


  .v324_210 {
    width: 148px;
    height: 56px;
    background: rgba(47,116,197,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }