
.info {
  margin-top: -2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.horizon {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.policy {
  display: flex;
  flex-direction: column;
}

  .name {
    color: #fff;
  }
  .card {
    width: 989px;
    height: 321px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .card > h1 {
    width: 535px;
    font-family: Antic;
    font-weight: Regular;
    color: rgba(0,0,0,1);
    text-align: left;


  }


  /* up right down left*/
  .image {
    width: 400px;
    height: 300px;
    padding: 2% 1% 2% 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .button {
    margin-right: 2%;
    width: 200px;
    height: 64px;
    background: rgba(47,116,197,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
