.middle {
  width: 100%;
  height: 396px;
  background: url("http://localhost:3000/assets/middle.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}